/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
*{
  font-family:"roboto condensed", sans-serif ;
}
body {
  margin:0;
  padding: 0;
  background-color: rgb(37, 37, 66);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container{
  width: 350px;
  padding:20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow:0 4px 8px black(0,0,0,0.1) ;
}
.input-container{
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid rgb(30, 134, 147);
  border-radius:10px;
  overflow: hidden;
}
.cityInput{
  flex:1;
  height: 30px;
  border:none;
  font-size: 16px;
  outline: none;
  padding:10px;
}
.search-icon{
  padding: 8px;
  cursor: pointer;
}
.search-icon img{
  margin-top: 5px;
  width: 24px;
  height:24px;
}
.image{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 80px;
  height:100px;
  
}
.temp,.location,
.country {
  margin-top: 5px;
  font-size: 35px;
  color: black;
  text-transform: uppercase;
  text-align: center;
}
.temp{
  font-weight: 300;
}
.location{
  color: rgb(125, 125, 51);
  font-weight: 400;
  font-size: 40px;
}
.country{
  font-size: 18px;
  color:#888;
  font-weight: 500;
}
.cord{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}
.cord div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cord div span{
  font-size: 14px;
}
.humidity-percentage,
.wind-percentage,
.cord div span:nth-child(2){
  font-size: 18px;
  font-weight: bold;
  color: #312828;
  padding-top:5px;
}
.data-container{
   display: flex;
   justify-content:space-between;
   margin-top: 20px;
}
.element{
  text-align: center;
}
.icon{
  height: 80px;
  width: 80px;
}
.text{
  font-size:12px ;
  color:#888;
}
.copyright{
  text-align: center;
  font-size: 12px;
  color: #888;
}
.copyright span{
  color:#333;
}
.city-not-found,
.loading-message,
.error-message {
  margin-top: 10px;
  color: #888;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}